.password{
    width: 458px;
    margin: auto;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 40px;

}
.password h3{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 9px;    
    color: #040403;
}
.password p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 49px;    
    text-align: center;
    color: #5A5A5A;
    
}
.forgotInput-first{
    margin-bottom: 60px;
}
.forgotInput-first input{
    width: 347px;
    height: 56px;
    border: 0.5px solid #E0E0E0;
    border-radius: 7px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    
}
.forgotInput-second input{
    width: 347px;
    height: 56px;
    background: #2522A7;
    border: 0.5px solid #E0E0E0;
    border-radius: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FBFBFF;
    cursor: pointer;

}
.passwordPara{
    font-style: normal;
    width: 80%;
    margin: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding-top: 16px;
    color: rgba(1, 0, 63, 0.74);
}
.passwordPara a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(1, 0, 63, 0.74);
}
@media screen and (max-width:768px) {
    .password{
        width: 80%;
        margin: auto;
        margin-top: 140px;
    }
    .password h3{
        max-width: 100%;

    }
    .password p{
        max-width: 100%;
        padding-bottom: 30px;
    }
    .forgotInput-first{
        margin-bottom: 30px;
    }
    .forgotInput-first input{
        width: 100%;
    }
    .forgotInput-second input{
        width: 100%;
    }
}